$color-navbar: linear-gradient(#a9aaaa, #eb4f06);
$color-bg: #c7c7c7;
$color-sides: #000000;
$color-header-bg: linear-gradient(#a9aaaa, #eb4f06);
$color-header-text: #f7f7f7;
$color-weather-bg: linear-gradient(#2e559e, #3e3a61);
$color-card-header-bg: linear-gradient(#6791df, #3e3a61);
$color-weather-text: #ffffff;

body{
    padding-top: 60px;
    background-color: #0f7fa1;
}

#bodyCon{
    background-color: #0f7fa1;
}

.navbar {
    background-image: $color-navbar;
}

.row-content{
    padding-top: 10px;
    min-height: 400px;
}

.navbar-brand{
    color: $color-header-text;
}
.container{
    background-color: $color-sides;
}

.jumbotron {
    background-color: $color-bg;
}


.schedule-item{
    height: 100px;
}

#dailydashrow{
    min-height: 400px;
}

#headerJumbo{
    height: 100%;
}

#weatherCard{
    height:100%;
}

#weatherCardBody{
    background-image: $color-weather-bg;
    color: $color-weather-text;
    text-align: center;
}

#weatherCardHeader{
    color: $color-header-text;
    background-image: $color-header-bg;
}

#weatherIcon{
    min-height: 90%;
    width: 50%;
    text-align: center;
}

#scheduleCard{
    height: 100%;
}

#scheduleCardHeader{
    background-image: $color-header-bg;
    color: $color-header-text;
}

#eventsCard{
    height: 100%;
}

#eventsCardHeader{
    background-image: $color-header-bg;
    color: $color-header-text;
}

.card-header{
    background-image: $color-card-header-bg;
    color: $color-header-text;
}
