body {
  padding-top: 60px;
  background-color: #0f7fa1; }

#bodyCon {
  background-color: #0f7fa1; }

.navbar {
  background-image: linear-gradient(#a9aaaa, #eb4f06); }

.row-content {
  padding-top: 10px;
  min-height: 400px; }

.navbar-brand {
  color: #f7f7f7; }

.container {
  background-color: #000000; }

.jumbotron {
  background-color: #c7c7c7; }

.schedule-item {
  min-height: 100px; }

#dailyDashRow {
  min-height: 350px; }

#headerJumbo {
  height: 100%; }

#weatherCard {
  height: 100%; }

#weatherCardBody {
  background-image: linear-gradient(#2e559e, #3e3a61);
  color: #ffffff;
  text-align: center; }

#weatherCardHeader {
  color: #f7f7f7;
  background-image: linear-gradient(#a9aaaa, #eb4f06); }

#weatherIcon {
  min-height: 85%;
  width: 50%;
  text-align: center; }

#greetingTitle {
  z-index: 1; }

#scheduleCard {
  height: 100%; }

#scheduleCardHeader {
  background-image: linear-gradient(#a9aaaa, #eb4f06);
  color: #f7f7f7; }

#eventsCard {
  height: 100%; }

#eventsCardHeader {
  background-image: linear-gradient(#a9aaaa, #eb4f06);
  color: #f7f7f7; }

.card-header {
  background-image: linear-gradient(#6791df, #3e3a61);
  color: #f7f7f7; }

.card-element {
  height: 100%;
  min-height: 300px;
  overflow-y: auto; }

.card-lower {
  max-height: 300px; }

#notepadCardBody {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

#newsCardItems {
  height: 100%; }

#newsList {
  width: 100%; }
